<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ContextMenuTableView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B95E20361C0FA9F900A0C4C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B95E204A1C0FA9FB00A0C4C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B95E20551C0FA9FB00A0C4C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
